<button ng-click="vm.login()">Log In</button>
<button ng-click="vm.logout()">Log Out</button>
<button ng-click="vm.refresh()">Refresh Token</button>

<div>
  Logged In? <span ng-bind="vm.isLoggedIn()"></span>
</div>

<div>
  Token: <span ng-bind="vm.getAuthToken()"></span>
</div>

<div>
  Token payload:<br>
  <pre ng-bind="vm.getTokenPayload()|json"></pre>
</div>

<div>
  Time remaining on token (ms): <span ng-bind="vm.timeToExp"></span>
</div>
